body {
  background: lightblue;
  color: white;
}

.spring {
  background-image: url(spring.jpg);
}

.summer {
  background-image: url(summer.jpg);
}

.fall {
  background-image: url(fall.jpg);
}

.winter {
  background-image: url(winter.jpg);
}

