body {
  background: #add8e6;
  color: #000;
  text-align: center;
  font-size: 24px;
  font-family: 'McLaren', cursive;
}

.jumbotron {
  background-repeat: no-repeat;
  color: #fff;
}

.city-input-wrapper {
  padding: 10px;
}

.spring {
  background-image: url(images/spring.jpg);
}

.summer {
  background-image: url(images/summer.jpg);
}

.fall {
  background-image: url(images/fall.jpg);
}

.winter {
  background-image: url(images/winter.jpg);
}


h1 {
  color: #fff;
  font-size: 54px;
  font-family: 'Henny Penny', cursive;
}

.friend-image {
  width: 150px;
  height: 150px;
}

.friends {
  padding: 20px;
  border-bottom: 2px solid #e6bbad;
}