body {
  background: lightblue;
  color: white;
  text-align: center;
}

.spring {
  background-image: url(images/spring.jpg);
}

.summer {
  background-image: url(images/summer.jpg);
}

.fall {
  background-image: url(images/fall.jpg);
}

.winter {
  background-image: url(images/winter.jpg);
}

h1 {
  text-align: center;
}

.friend-image {
  width: 100px;
  height: 100px;
}

.friends {
}